.pageBlocks .block {
border-bottom: 1px solid #ccc;
padding-bottom: 7px;
margin-bottom: 10px;
position: relative;
}
.layout.admin .pageBlocks .block {
margin-bottom: 32px;
}
.pageBlocks .dragBox, .ddItems .item .dragBox {
position: absolute;
width: 23px;
height: 23px;
top: 5px;
border-radius: 5px;
}
.pageBlocks .editBlock, .pageBlocks .dragBox {
top: -28px;
}
.pageBlocks .dragBox {
position: absolute;
width: 21px;
height: 21px;
}
.editBlock {
padding: 2px 0 2px 2px;
background: #F2F2F2;
border-radius: 5px;
position: absolute;
z-index: 1;
border: 1px solid #E3E2D3;
position: absolute;
top: 5px;
right: 5px;
background: -webkit-linear-gradient(top, #fbfbf6, #F1F0DF);
}
.editBlock.bordered.smIcons a, .editBlock a.smIcons.bordered {
margin-right: 2px;
}
.editBlock a {
border-color: #EDECE1;
border-radius: 3px;
background: #FFF;
}
.editBlock a:hover {
border-color: #ccc;
}
.col {
position: relative;
}

.editBlock.blue {
border-color: #64A1DE;
background: #BBD6F0;
}
.editBlock.blue a {
background: #DCE9F7;
}

.pageBlocks .block:hover .editBlock,
.pageBlocks .block:hover .dragBox,
.pageBlocks .block.move .dragBox {
visibility: visible;
}
